<template>
  <form v-on:submit.prevent="onSubmit" class="form-inline">
  <label class="sr-only" for="blog-url">Blog URL</label>
  <input v-model="blogUrl" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="blog-url" placeholder="Blog URL">

  <button type="submit" class="btn btn-primary">Add</button>
</form>
</template>
<script>
  export default {
   name: 'BlogForm',
   inject: ['onError'],
   data() {
     return {
       blogUrl: ''
     }
   },
   methods: {
     onSubmit: function() {
       this.onError(null);

       fetch('/blogs', {
          method: 'POST',
          headers: new Headers({
            'Content-Type' : 'application/json',
            'x-auth': window.sessionStorage.getItem('token')
          }),
          body: JSON.stringify({url: this.blogUrl})
       })
       .then((res) => res.json())
       .then((resObj) => {
          this.blogUrl = '';

          if (resObj.error) {
            this.onError(resObj.error)
          } else {
            this.$emit('blog', resObj);
          }
       });
     }
   }
  }
</script>
