<template>
  <div class="d-flex justify-content-between align-items-center">
    <a
      v-on:click.prevent="onBlogClick"
      href=""
      class="list-group-item list-group-item-action">
      {{blog.name}}
    </a>
    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
    <i class="fa fa-trash fa-fw" aria-hidden="true" v-on:click="onBlogRemove"></i>
  </div>
</template>
<script>

export default {
    name: 'BlogItem',
    props: ['blog'],
    inject: ['request'],
    methods: {
      onBlogClick(e) {
        const item = this;
        item.request('/blogs/' + item.blog._id, {
          headers: new Headers({
            'Content-Type' : 'application/json',
            'x-auth': window.sessionStorage.getItem('token')
          })
        }, function(feed) {
          if (feed.error) {
            this.error = feed.error;
            this.currentFeed = null;
          } else {
            item.$emit('feed', feed);
          }
        });
      },
      onBlogRemove() {
        const item = this;

        item.request('/blogs/' + item.blog._id, {
          method: 'DELETE',
          headers: new Headers({
            'Content-Type' : 'application/json',
            'x-auth': window.sessionStorage.getItem('token')
          })
        }, function(resObj) {
          if (resObj.error) {
            this.error = resObj.error;
          } else {
            const {blog} = resObj;
            item.$emit('removed', blog);
          }
        })
      }
    },
}
</script>

