<template>
  <div v-if="currentFeed">
    <div v-for="(post, idx) in currentFeed" class="card mt-2" :key="idx">
      <h5 class="card-header">{{post.pubDate[0]}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{post.title[0]}}</h5>
        <div v-html="post.description[0]"></div>
      </div>
    </div>
  </div>
  <h5 v-else class="mt-4">Click blog to show feed!</h5>
</template>
<script>
  export default {
    name: 'BlogFeed',
    props: ['currentFeed']
  }
</script>
