<template>
  <div class="list-group">
    <div v-if="blogs.length === 0">Add some blogs!</div>
    <div v-else>
      <blog-item v-for="blog in blogs" :key="blog._id" :blog="blog" @feed="showFeed" @removed="removeBlog"></blog-item>
    </div>
  </div>
</template>
<script>
  import BlogItem from './blog-item.vue';

  export default {
    name: 'BlogList',
    components: {BlogItem},
    props: ['blogs'],
    methods: {
      removeBlog(removedBlog) {
        this.$emit('removed', removedBlog);
      },
      showFeed(feed) {
        this.$emit('feed', feed);
      }
    }
  }
</script>