<template>
  <div id="dashboard">
    <div class="text-right mb-3">
      <button @click="onLogout" type="button" class="btn btn-warning text-white">Log out</button>
    </div>
    <blog-form @blog="onBlogAdded"></blog-form>
    <div class="row">
      <div class="col-md-5">
        <blog-list @feed="onShowFeed" @removed="onBlogRemoved" :blogs="blogs"></blog-list>
      </div>
      <div class="col-md-7">
        <blog-feed :current-feed="currentFeed"></blog-feed>
      </div>
    </div>
  </div>
</template>
<script>
import BlogForm from './dashboard-components/blog-form.vue';
import BlogList from './dashboard-components/blog-list.vue';
import BlogFeed from './dashboard-components/blog-feed.vue';

export default {
  name: 'Dashboard',
  components: {
    BlogForm,
    BlogList,
    BlogFeed
  },
  inject: ['onError'],
  data() {
    return {
      blogs: [],
      currentFeed: null
    }
  },
  mounted() {
    fetch('/blogs', {
        headers: new Headers({
          'Content-Type' : 'application/json',
          'x-auth': window.sessionStorage.getItem('token')
        })
    })
    .then((res) => res.json())
    .then((resObj) => {
        if (resObj.error) {
          this.onError(resObj.error);
        } else {
          this.blogs = resObj.blogs;
        }

    });
  },
  methods: {
    onBlogAdded(blog) {
      this.blogs.push(blog);
    },
    onBlogRemoved(blog) {
      this.blogs = this.blogs.filter((b) => b._id !== blog._id);
    },
    onShowFeed(feed) {
      this.currentFeed = feed;
    },
    onLogout() {
      fetch('/users/me/token', {
        method: 'DELETE',
        headers: new Headers({
          'Content-Type' : 'application/json',
          'x-auth': window.sessionStorage.getItem('token')
        })
      })
      .then((res) => res.json())
      .then((resObj) => {
        if (resObj.error) {
          return console.log(resObj.error);
        }

        this.$emit('logout');
      });
    }
  }
}
</script>

