<template>
  <div class="w-75">
    <form v-on:submit.prevent="onSubmit">
      <h3>{{formTitle}}</h3>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p class="text-right">
        <a v-on:click.prevent="toggleForm" href="">{{toggleMessage}}</a>
      </p>
    </form>
  </div>
</template>

<script>
  const loginFormData = {
    formType: 'login',
    formTitle: 'Login:',
    apiEndpoint: '/users/login',
    toggleMessage: 'Don\'t have an account? Sign in.'
  }
  const signinFormData = {
    formType: 'signin',
    formTitle: 'Sign in:',
    apiEndpoint: '/users',
    toggleMessage: 'Already have an account? Login.'
  }

  export default {
    name: 'Form',
    props: ['token'],
    data() {
      return Object.assign({}, {email: '', password: ''}, loginFormData)
    },
    inject: ['onError'],
    methods: {
      toggleForm: function() {
        const formData = this.formType === 'login' ? signinFormData : loginFormData;
        Object.keys(formData).forEach((prop) => {
          if (prop in this) {
            this[prop] = formData[prop];
          }
        });
      },
      onSubmit: function() {
        this.onError(null)

        fetch(this.apiEndpoint, {
          method: 'POST',
          headers: new Headers({'Content-Type' : 'application/json'}),
          body: JSON.stringify({email: this.email, password: this.password})
        }).then((res) => {
          if (res.status === 200 && res.headers.has('x-auth')) {
            const token = res.headers.get('x-auth');

            this.$emit('login', token);
          }

          return res.json();
        })
        .then((data) => {
          if (data.error) {
            this.onError(data.error);
          }
        })
      }
    },
  }
</script>
